<!DOCTYPE html>
<html>
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
		            <li><a href="/">Home</a></li>
		            <li><a href="/stocks">Stocks</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/portfolio/goals">Goals</a></li>
					<li class="active"><a href="/portfolio/metrics">Metrics</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
					<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
	            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>
    <div class="container">
        <h3>
            Admin Controls
        </h3>
        <form action="/admin/updateStockInformation" method="post">
            <button type="submit" class="btn btn-default">Update Stock Information</button>
        </form>
        <form action="/admin/updatePortfolioDailyInformation" method="post">
            <button type="submit" class="btn btn-default">Update Portfolio Daily Information</button>
        </form>
		<form action="/admin/updateCorporateActions" method="post">
			<button type="submit" class="btn btn-default">Update Corporate Actions</button>
		</form>
		<form action="/admin/updateClosingPrices" method="post">
			<button type="submit" class="btn btn-default">Update Adjusted Closing Prices</button>
		</form>
    </div>
</body>
</html>
