<!DOCTYPE html>
<html>
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li><a href="/portfolio/metrics">Metrics</a></li>
				<li><a href="/tracker">Tracker</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li class="active" sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div sec:authorize="isAuthenticated()" class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

    <div class="container">
		<h3>Login</h3>
        <p th:if="${loginError}" class="error">Incorrect username or password</p>
		<form th:action="@{/login}" method="post">
			<div class="form-group">
				<label>Username:</label>
				<input type="text" class="form-control" name="username" />
			</div>
			<div class="form-group">
				<label>Password:</label>
				<input type="password" class="form-control" name="password" />
			</div>
			<button type="submit" class="btn btn-default">Log in</button>
		</form>
	</div>
</body>
</html>
