<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li class="active"><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>
					My Portfolio
				</h3>
			</div>
			<div class="col-sm-6">
				<h3>
					Portfolio Weightings
				</h3>
			</div>
		</div>
		<section style="font-size:18px">
			<div class="row">
				<div class="col-sm-2">
					Portfolio Value:
					<br />
					Cash Balance:
				</div>
				<div class="col-sm-2">
					<span th:text="'$' + ${user.portfolioValue()}" />
					<br />
					<span th:text="'$' + ${user.cashAmount}" />
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4" style="font-size:12px">
							<div th:each="sector : ${sectors}">
								<span th:text="${sector}" />
								<br />
							</div>
						</div>
						<div class="col-sm-4" style="font-size:12px">
							<div th:each="sector : ${sectors}">
								<span th:text="${#numbers.formatDecimal(user.calculateSectorWeight(sector),1,2,'POINT')} + '%'" />
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<h3>
			Portfolio Holdings
		</h3>
	    <div th:each="stockInPortfolio : ${portfolio}">
	        <div class="row" style="font-size:18px">
	            <div class="col-sm-2">
	                <a th:href="@{/stocks/{id}/(id=${stockInPortfolio.stock.id})}" th:text="${stockInPortfolio.stock.name}" />
	                <br />
	                Date Bought:
	                <br />
	                Date Sold:
					<br />
					Amount:
	            </div>
	            <div class="col-sm-2">
	                <br />
	                <span th:text="${{stockInPortfolio.buyDate}}" />
	                <br />
	                <span th:text="${{stockInPortfolio.sellDate}} ? ${{stockInPortfolio.sellDate}} : 'N/A'" />
					<br />
					<span th:text="${{stockInPortfolio.amount}}" />
	            </div>
	            <div class="col-sm-2">
	                <span th:text="${stockInPortfolio.stock.ticker}" />
	                <br />
	                ROI:
	                <br />
	                Annualised:
					<br />
					Value:
	            </div>
	            <div class="col-sm-2">
	                <br />
	                <span th:text="${{stockInPortfolio.returnOnInvestment}}" />
	                <br />
	                <span th:text="${{stockInPortfolio.annualisedReturn}} ? ${{stockInPortfolio.annualisedReturn}} : 'N/A'" />
					<br />
					<span th:text="${{stockInPortfolio.value}}" />
	            </div>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${stockInPortfolio.id})}"
				method="get">
					<button type="submit" class="btn btn-link glyphicon glyphicon-edit" />
				</form>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${stockInPortfolio.id})}"
				method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form>
	        </div>
			<br />
	    </div>
	</div>
</body>
</html>
