<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li class="active"><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h3>
					My Portfolio
				</h3>
			</div>
			<div class="col-sm-6">
				<h3>
					Portfolio Weightings
				</h3>
			</div>
		</div>
		<section style="font-size:18px">
			<div class="row">
				<div class="col-sm-2">
					Portfolio Value:
					<br />
					Cash Balance:
				</div>
				<div class="col-sm-2">
					<span th:text="'$' + ${#numbers.formatDecimal(user.portfolioValue(),1,2,'POINT')}" />
					<br />
					<span th:text="${user.cashAmount} ? '$' + ${#numbers.formatDecimal(user.cashAmount,1,2,'POINT')} : '0'" />
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-4" style="font-size:12px">
							<div th:each="sector : ${sectors}">
								<span th:text="${sector}" />
								<br />
							</div>
						</div>
						<div class="col-sm-4" style="font-size:12px">
							<div th:each="sector : ${sectors}">
								<span th:text="${#numbers.formatDecimal(user.calculateSectorWeight(sector),1,2,'POINT')} + '%'" />
								<br />
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<h3>
			Portfolio Holdings
		</h3>
		<!-- List<List<StockInPortfolio>> -->
	    <div th:each="holdings : ${groupedPortfolio}">
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-4">
					<a th:href="@{/stocks/{id}/(id=${holdings[0].stock.id})}" th:text="${holdings[0].stock.name}" />
				</div>
				<div class="col-md-4">
					<span th:text="${holdings[0].stock.ticker}" />
				</div>
			</div>
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-2">
					Amount:
					<br />
					<span th:text="${portfolioService.getGain(holdings)} >= 0 ? 'Gain:' : 'Loss:'" />
				</div>
				<div class="col-md-2">
					<span th:text="'$' + ${{portfolioService.getStockAmount(holdings)}}" />
					<br />
					<span th:text="'$' + ${{portfolioService.getDifference(holdings)}}" />
				</div>
				<div class="col-md-2">
					Annualised:
					<br />
					Value:
				</div>
				<div class="col-md-2">
					<span th:text="'$' + ${{portfolioService.getAnnualisedReturn(holdings)}}" />
					<br />
					<span th:text="'$' + ${{portfolioService.getValue(holdings)}}" />
				</div>
			</div>
			<div th:each="holding : ${holdings}" class="row">

				<div class="col-md-2">
					Amount: <span th:text="${holding.amount}" />
				</div>
				<div class="col-md-2">
					Date bought: <span th:text="${{holding.buyDate}}" />
				</div>
				<div class="col-md-2">
					<span th:text="${holding.sellDate} ? 'Date sold:' : ' '" />
					<span th:text="${{holding.sellDate}}" />
				</div>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="get" style="padding-top:0px; padding-bottom:0px">
					<button type="submit" class="btn btn-link glyphicon glyphicon-edit" style="padding-top:0px; padding-bottom:0px; border-top:0px; border-bottom:0px"/>
				</form>
				<!--form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form-->
			</div>
			<br />
		</div>
			<!--
			<span th:text="${{stockInPortfolio.buyDate}}" />
			<span th:text="${{stockInPortfolio.sellDate}} ? ${{stockInPortfolio.sellDate}} : 'N/A'" />

	        <div class="row" style="font-size:18px">
	            <div class="col-sm-2">
	                <a th:href="@{/stocks/{id}/(id=${stockInPortfolio.stock.id})}" th:text="${stockInPortfolio.stock.name}" />
	                <br />
	                Date Bought:
	                <br />
	                Date Sold:
					<br />
					Amount:
	            </div>
	            <div class="col-sm-2">
	                <br />
	                <span th:text="${{stockInPortfolio.buyDate}}" />
	                <br />
	                <span th:text="${{stockInPortfolio.sellDate}} ? ${{stockInPortfolio.sellDate}} : 'N/A'" />
					<br />
					<span th:text="${{stockInPortfolio.amount}}" />
	            </div>
	            <div class="col-sm-2">
	                <span th:text="${stockInPortfolio.stock.ticker}" />
	                <br />
	                <span th:text="${stockInPortfolio.getGain()} >= 0 ? 'Gain:' : 'Loss:'" />
	                <br />
	                Annualised:
					<br />
					Value:
	            </div>
	            <div class="col-sm-2">
	                <br />
					<span th:text="'$' + ${{stockInPortfolio.getDifference()}}" />
	                <br />
	                <span th:text="${{stockInPortfolio.annualisedReturn}} ? ${{stockInPortfolio.annualisedReturn}} : 'N/A'" />
					<br />
					<span th:text="${{stockInPortfolio.value}}" />
	            </div>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${stockInPortfolio.id})}"
				method="get">
					<button type="submit" class="btn btn-link glyphicon glyphicon-edit" />
				</form>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${stockInPortfolio.id})}"
				method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form>
	        </div>
			<br />
		</div>
		-->
		<h3>
			Archived Portfolio Holdings
		</h3>
	</div>
</body>
</html>
