<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		google.load('visualization', '1.0', {
			'packages' : [ 'corechart' ]
		});
		google.setOnLoadCallback(drawPriceChart);

		function drawPriceChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'Price');
			var prices = [[${prices}]];
			var dates  = [[${dates}]];
			for (var i = 0; i < prices.length; i++) {
				var price = prices[i];
				var date = dates[i];
				data.addRow([new Date(date), price]);
			}
			var options = {
				title: 'Stock price over time',
				width: 900,
				height: 675
			};
			var chart = new google.visualization.LineChart(document.getElementById('price_chart_div'));
			chart.draw(data, options);
		}
		/*]]>*/
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li><a href="/portfolio/metrics">Metrics</a></li>
				<li><a href="/tracker">Tracker</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-1" />
			<div class="col-sm-4">
				<h3>
					<span th:text="${stock.name}" />
					<br />
					<span th:text="${stock.ticker}" />
			 	</h3>
				<h3>
					<span th:text="'$' + ${stock.lastTradePrice}" />
					<br />
					<!--<p style="font-size:14px">
					<20-12-2016
					<br />
					1:56PM
					</p>
					-->
				</h3>
		 	</div>
			<div class="col-sm-2">
				<p style="font-size:16px; margin-top:2em;">
					Market cap
					<br />
					P/E ratio
					<br />
					1y variance (MoM)
					<br />
					1y annualised return
				</p>
			</div>
			<div class="col-sm-2">
				<p style="font-size:16px; margin-top:2em;">
					<span th:text="${stock.marketCap}" />
					<br />
					<span th:text="${stock.getPERatio()} ? ${stock.getPERatio()} : 'N/A'" />
					<br />
					<span th:text="${stockMetrics.oneYearVariance} ? ${{stockMetrics.oneYearVariance}} : 'N/A'" />
					<br />
					<span th:text="${stockMetrics.oneYearAnnualisedReturn} ? ${{stockMetrics.oneYearAnnualisedReturn}} : 'N/A'" />
				</p>
			</div>
		</div>
	</div>

	<div class="container">
		<div id="price_chart_div"></div>
	</div>

	<div class="container">
		<div class="row" style="margin-bottom:0px">
			<div class="col-sm-1"> </div>
			<div class="col-sm-4">
				Month over Month Variance
			</div>
			<div class="col-sm-4">
				Annualised Return
			</div>
		</div>
		<div class="row">
			<div class="col-sm-1"> </div>
			<div class="col-sm-2">
				3m
				<br />
				1y
				<br />
				3y
				<br />
				5y
				<br />
				10y
			</div>
			<div class="col-sm-2">
				<span th:text="${stockMetrics.threeMonthVariance} ? ${{stockMetrics.threeMonthVariance}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.oneYearVariance} ? ${{stockMetrics.oneYearVariance}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.threeYearVariance} ? ${{stockMetrics.threeYearVariance}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.fiveYearVariance} ? ${{stockMetrics.fiveYearVariance}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.tenYearVariance} ? ${{stockMetrics.tenYearVariance}} : 'N/A'" />
			</div>
			<div class="col-sm-2">
				3m
				<br />
				1y
				<br />
				3y
				<br />
				5y
				<br />
				10y
			</div>
			<div class="col-sm-2">
				<span th:text="${stockMetrics.threeMonthAnnualisedReturn} ? ${{stockMetrics.threeMonthAnnualisedReturn}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.oneYearAnnualisedReturn} ? ${{stockMetrics.oneYearAnnualisedReturn}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.threeYearAnnualisedReturn} ? ${{stockMetrics.threeYearAnnualisedReturn}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.fiveYearAnnualisedReturn} ? ${{stockMetrics.fiveYearAnnualisedReturn}} : 'N/A'" />
				<br />
				<span th:text="${stockMetrics.tenYearAnnualisedReturn} ? ${{stockMetrics.tenYearAnnualisedReturn}} : 'N/A'" />
			</div>
		</div>
	</div>
</body>
</html>
