<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
		    	<ul class="nav navbar-nav">
		    	<li><a href="/">Home</a></li>
		    </ul>
	  	</div>
	</nav>

	<div class="container" th:each="stock : ${stocks}" >
		<h3>
			<a th:href="@{/stocks/{id}/(id=${stock.id})}" th:text="${stock.name}" />
		</h3>
		<h4 th:text="${stock.ticker}" />
		<h4 th:text ="${stock.industry}" />
		<div class ="row">
			<div class ="col-sm-2">
				Price
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.lastTradePrice}" />
			</div>
			<div class ="col-sm-2">
				Market Cap
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.marketCap}" />
			</div>
		</div>
		<div class ="row">
			<div class ="col-sm-2">
				P/E Ratio
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.getPERatio()} ? ${stock.getPERatio()} : 'N/A'" />
			</div>
			<div class ="col-sm-2">
				10 Yr Annualised Return
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.stockCalculatedData.tenYearAnnualisedReturn}" />
			</div>
		</div>
	</div>
</body>
</html>
