<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a th:href="@{/}">Home</a></li>
	            <li class="active"><a th:href="@{/stocks}">Stocks</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

	<div class="container" th:each="stock : ${stocks}" >
		<h3>
			<a th:href="@{/stocks/{id}/(id=${stock.id})}" th:text="${stock.name}" />
		</h3>
		<h4>
			<form class="form-noborder" action="/portfolio" method="post">
				<input type="hidden" name="stockId" th:value="${stock.id}" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-plus-sign"></button>
			</form>
			<span th:text="${stock.ticker}" />
		</h4>
		<h4 th:text ="${stock.industry}" />
		<div class ="row">
			<div class ="col-sm-2">
				Price
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.lastTradePrice}" />
			</div>
			<div class ="col-sm-2">
				Market Cap
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.marketCap}" />
			</div>
		</div>
		<div class ="row">
			<div class ="col-sm-2">
				P/E Ratio
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.getPERatio()} ? ${stock.getPERatio()} : 'N/A'" />
			</div>
			<div class ="col-sm-2">
				10 Yr Annualised Return
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.stockMetrics.tenYearAnnualisedReturn}" />
			</div>
		</div>
	</div>
</body>
</html>
