<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script th:inline="javascript">
		function showStockAmountField(stockId) {
			var button = document.getElementById("stockTrigger" + stockId);
			button.style.display = "none";
			var form = document.getElementById("addStockForm" + stockId);
			form.style.display = "block";
		}
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li class="active"><a href="/stocks">Stocks</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

	<div class="container" th:each="stock : ${stocks}" >
		<h3>
			<a th:href="@{/stocks/{id}/(id=${stock.id})}" th:text="${stock.name}" />
		</h3>
		<h4>
			<button th:id="stockTrigger + ${stock.id}" type="button" class="btn btn-link glyphicon glyphicon-plus-sign"
			th:onclick="'javascript:showStockAmountField(\'' + ${stock.id} + '\');'" style="display:block" />
			<form th:id="addStockForm + ${stock.id}" class="form-noborder" action="/portfolio" method="post" style="display:none">
				<div class="form-group">
					<input type="hidden" name="stockId" th:value="${stock.id}" />
					<label>Amount of stock*</label>
					<input type="number" class="form-control" step="1" name="amount" required="true" />
					<label>Date bought</label>
					<input type="date" class="form-control" name="buyDate" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-plus-sign"></button>
				</div>
			</form>
			<span th:text="${stock.ticker}" />
		</h4>
		<h4 th:text ="${stock.sector}" />
		<div class ="row">
			<div class ="col-sm-2">
				Price
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.lastTradePrice}" />
			</div>
			<div class ="col-sm-2">
				Market Cap
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.marketCap}" />
			</div>
		</div>
		<div class ="row">
			<div class ="col-sm-2">
				P/E Ratio
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.getPERatio()} ? ${stock.getPERatio()} : 'N/A'" />
			</div>
			<div class ="col-sm-2">
				10 Yr Annualised Return
			</div>
			<div class ="col-sm-2">
				<span th:text="${stock.stockMetrics.tenYearAnnualisedReturn}" />
			</div>
		</div>
	</div>
</body>
</html>
