<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
		    	<ul class="nav navbar-nav">
		    	<li><a href="/">Home</a></li>
				<li><a th:href="@{/stocks}">Stocks</a></li>
		    </ul>
	  	</div>
	</nav>
	<div class="container">
		<h3 th:text="${stock.name}"></h3>
        <h3>
        Ticker:
        <span th:text="${stock.ticker}" />
         </h3>
        <div class="row">
            <div class ="col-sm-2">
                Variance
            </div>
            <div class ="col-sm-2" th:text="${stockCalculatedData.variance}">
            </div>
            <div class ="col-sm-2">
                10 Year Annualised Return
            </div>
            <div class ="col-sm-2" th:text="${stockCalculatedData.tenYearAnnualisedReturn}">
            </div>
        </div>
   	</div>
</body>
</html>
