<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script>
		function showEditForm() {
			var form = document.getElementById("editForm");
			if (form.style.display == "none") {
				form.style.display = "block";
			} else {
				form.style.display = "none";
			}
		}
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li class="active" sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

    <div class="container">
		<div class="row" style="font-size:18px">
			<div class="col-md-2">
				Username:
				<br />
				First name:
				<br />
				Last name:
				<br />
				Date of birth:
				<br />
				Cash:
				<br />
			</div>
			<div class="col-md-2">
				<span th:text="${user.username}" />
				<br />
				<span th:text="${user.firstName}" />
				<br />
				<span th:text="${user.lastName} ? ${user.lastName} : 'N/A'" />
				<br />
				<span th:text="${user.dob} ? ${{user.dob}} : 'N/A'" />
				<br />
				<span th:text="${user.cashAmount} ? '$' + ${user.cashAmount} : '0'" />
				<br />
			</div>
		</div>
    </div>

	<div class="container">
		<p th:if="${dateError}" class="error">Incorrect date format</p>
		<button id="editTrigger" type="button" class="btn btn-link glyphicon glyphicon-edit"
		onclick="showEditForm()" style="display:block" />
		<form id="editForm" class="form-noborder" action="/profile" method="post" style="display:none">
			<div class="form-group">
				<input type="hidden" name="userId" th:value="${user.id}" />
				<label>First name</label>
				<input type="text" class="form-control" name="firstName" required="true" th:value="${user.firstName}" />
				<label>Last name</label>
				<input type="text" class="form-control" name="lastName" th:value="${user.lastName}"/>
				<label>Date of birth</label>
				<input type="date" class="form-control" name="dob" th:value="${{user.dob}}" />
				<label>Cash</label>
				<input type="number" step="0.01" class="form-control" name="cashAmount" th:value="${user.cashAmount}" />
				<button type="submit" class="btn btn-link glyphicon glyphicon-plus-sign"></button>
			</div>
		</form>
	</div>
</body>
</html>
