<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<style>
	.progress span {
	    display: block;
	    position: absolute;
		color: black;
	    width: 90%;
	}
	</style>
	<script>
	/*<![CDATA[*/
	function expandForm() {
		//set all form field divs be hidden and change their name to not interfere
		//when submitting the form
		var divs = document.getElementById("form-fields").getElementsByTagName("div");
		for (var i = 0; i < divs.length; i++) {
			divs[i].style.display = "none";
			var inputs = divs[i].getElementsByTagName("input");
			var selects = divs[i].getElementsByTagName("select");
			if (inputs[0]) {
				inputs[0].name = "";
				inputs[0].disabled = true;
			}
			if (selects[0]) {
				selects[0].name = "";
				selects[0].disabled = true;
			}
		}

		var e = document.getElementById("goalTemplate");
		var value = e.options[e.selectedIndex].id;
		if (value == 'SECTOR') {
			showInput('1-1', "percentage");
			showInput('1-2', "sector1")
		} else if (value == 'MOVE') {
			showInput('2-1', "percentage");
			showInput('2-2', "sector1");
			showInput('2-3', "sector2");
		} else if (value == 'RETIRE') {
			showInput('3-1', "length");
		} else if (value == 'GROW_TO_AMOUNT') {
			showInput('4-1', "amount");
		} else if (value == 'INVEST_TIME_LENGTH') {
			showInput('5-1', "length");
			showInput('5-2', "monthsOrYears");
		} else if (value == 'RISK') {
			showInput('6-1', "risk");
		} else if (value == 'MONTHLY_INVESTOR') {
			showInput('7-1', "monthlyDepositAmount");
			showInput('7-2', "amount");

		}
		showInput('0-1', "");
		document.getElementById('0-1').scrollIntoView();
	}
	function showInput(id, targetName) {
		var e = document.getElementById(id);
		e.style.display = 'block';
		var inputs  = e.getElementsByTagName("input");
		var selects = e.getElementsByTagName("select");
		if (inputs[0]) {
			inputs[0].name = targetName;
			inputs[0].disabled = false;
		}
		if (selects[0]) {
			selects[0].name = targetName;
			selects[0].disabled = false;
		}
	}
	/*]]>*/
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li><a href="/portfolio">Portfolio</a></li>
				<li class="active"><a href="/portfolio/goals">Goals</a></li>
				<li><a href="/portfolio/metrics">Metrics</a></li>
				<li><a href="/tracker">Tracker</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

    <div class="container">
        <p th:if="${error}" class="error">error</p>
        <h3>
            Portfolio Balancing Goals
        </h3>
		<div class="container" th:each="tip : ${balancingTips}">
			<span th:utext="${tip}" />
			<br />
		</div>
        <div class="container" th:each="goal : ${balanceGoals}" >
            <h4>
				<span th:text ="${goal.goalStr}" />
				<form class="form-noborder" th:action="@{/portfolio/goals/{id}/(id=${goal.id})}"
				method="post" style="padding-top:0px; padding-bottom:0px; display:inline;">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form>
			</h4>
            <div class="progress" th:if="${goal.getProgress()[0]}">
              <div class="progress-bar" role="progressbar" th:aria-valuenow="${goal.getProgress()[2]}"
              aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${goal.getProgress()[2]} +'%'">
			  	<span th:text="${goal.getProgress()[2]} + '% (' + ${goal.getProgress()[0]} + '/' + ${goal.getProgress()[1]} + ')'" />
              </div>
            </div>
            <p>
				<div th:each="tip : ${goal.getTips()}">
					<span th:text="${tip}" />
					<br />
				</div>
            </p>
        </div>
    </div>

	<div class="container">
		<h3>
			Other Goals
		</h3>
		<div class="container" th:each="goal : ${otherGoals}" >
			<h4 th:text ="${goal.goalStr}" />
			<div class="progress" th:if="${goal.getProgress()[0]}">
			  <div class="progress-bar" role="progressbar" th:aria-valuenow="${goal.getProgress()[2]}"
			  aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${goal.getProgress()[2]} +'%'">
				<span th:text="${goal.getProgress()[2]} + '% (' + ${goal.getProgress()[0]} + '/' + ${goal.getProgress()[1]} + ')'" />
			  </div>
			</div>
			<p>
				<div th:each="tip : ${goal.getTips()}">
					<span th:text="${tip}" />
					<br />
				</div>
			</p>
		</div>
	</div>

    <div class="container">
        <h3>
            Add Goal
        </h3>
        <form action="/portfolio/goals" method="post">
            <div class="form-group">
                <label>Type of Goal:</label>
                <select id="goalTemplate" name="goalTemplate" onclick="expandForm()">
                    <option th:each="goalTemplate : ${goalTemplates}"
                    th:id="${typeMap['__${goalTemplate}__']}" th:text="${goalTemplate}"
					th:value="${goalTemplate}" />
                </select>
            </div>

			<div id="form-fields">
	            <div id="1-1" class="form-group" style="display:block;">
	                <label>percentage</label>
	                <input type="number" step="0.01" class="form-control" name="percentage"/>
	            </div>
	            <div id="1-2" class="form-group" style="display:block;">
	                <label>in Sector</label>
					<select name="sector1">
						<option th:each="sector : ${sectors}" th:text="${sector}"/>
					</select>
	            </div>

	            <div id="2-1" class="form-group" style="display:none;">
	                <label>percentage</label>
	                <input type="number" step="0.01" class="form-control" name="percentage"/>
	            </div>
	            <div id="2-2" class="form-group" style="display:none;">
	                <label>from Sector</label>
					<select name="sector1" disabled="disabled">
						<option th:each="sector : ${sectors}" th:text="${sector}"/>
					</select>
	            </div>
	            <div id="2-3" class="form-group" style="display:none;">
	                <label>to Sector</label>
					<select name="sector2" disabled="disabled">
						<option th:each="sector : ${sectors}" th:text="${sector}"/>
					</select>
	            </div>

	            <div id="3-1" class="form-group" style="display:none;">
	                <label>years</label>
	                <input type="number" class="form-control" name="length"/>
	            </div>

	            <div id="4-1" class="form-group" style="display:none;">
	                <label>amount</label>
	                <input type="number" class="form-control" name="amount"/>
	            </div>

	            <div id="5-1" class="form-group" style="display:none;">
	                <label>length</label>
	                <input type="number" class="form-control" name="length"/>
	            </div>
	            <div id="5-2" class="form-group" style="display:none;">
	                <label>months/years</label>
	                <select name="monthsOrYears" disabled="disabled">
	                    <option>Months</option>
	                    <option>Years</option>
	                </select>
	            </div>

	            <div id="6-1" class="form-group" style="display:none;">
	                <label>risk</label>
	                <select name="risk" disabled="disabled">
						<option th:each="risk : ${risks}" th:text="${risk}"/>
	                </select>
	            </div>

	            <div id="7-1" class="form-group" style="display:none;">
	                <label>monthly deposit</label>
	                <input type="number" class="form-control" name="monthlyDepositAmount"/>
	            </div>
	            <div id="7-2" class="form-group" style="display:none;">
	                <label>goal amount</label>
	                <input type="number" class="form-control" name="amount"/>
	            </div>
			</div>
            <button id="0-1" type="submit" class="btn btn-default" style="display:block;">Create Goal</button>
        </form>
    </div>
</body>
</html>
