<!DOCTYPE html>
<html>
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.13/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/dt-1.10.13/datatables.min.js"></script>


	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		google.load('visualization', '1.0', {
			'packages' : [ 'corechart' ]
		});
		google.setOnLoadCallback(drawPieChart);
		google.setOnLoadCallback(drawValueChart);
		function drawPieChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			var sectors = [[${sectors}]];
			var sectorValues = [[${sectorValues}]];
			for (var i = 0; i < sectors.length; i++) {
				var sector = sectors[i];
				var value = sectorValues[i];
				data.addRow([sector, value]);
			}
			var options = {
				'title' : 'Portfolio Weighting by Sector',
				is3D : true,
				pieSliceText: 'label',
				tooltip :  {showColorCode: true},
				'width' : 900,
				'height' : 675
			};
			var chart = new google.visualization.PieChart(document.getElementById('pie_chart_div'));
			chart.draw(data, options);
		}

		function drawValueChart() {
	    	var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'Portfolio');
			//data.addColumn('number', 'SPX (S&P 500)');
			var dayValues = [[${dayValues}]];
			var dates  = [[${dates}]];
			//var spxValues = [[${spxValues}]];
			for (var i = 0; i < dayValues.length; i++) {
				var value = dayValues[i];
				var date = dates[i];
				//var spxValue = spxValues[i];
				data.addRow([new Date(date), value]);
			}
			var options = {
          		title: 'Portfolio Value Over Time',
	        	width: 900,
	        	height: 675
      		};
			var chart = new google.visualization.LineChart(document.getElementById('value_chart_div'));
			chart.draw(data, options);
		}

		$(document).ready(function() {
			$('#transactionTable').DataTable();
		});
		/*]]>*/
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
		            <li><a href="/">Home</a></li>
		            <li><a href="/stocks">Stocks</a></li>
					<li><a href="/portfolio">Portfolio</a></li>
					<li><a href="/portfolio/goals">Goals</a></li>
					<li class="active"><a href="/portfolio/metrics">Metrics</a></li>
					<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
					<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
	            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>
    <div class="container">
		<div id="pie_chart_div"></div>
	</div>
	<div class="container">
		<div id="value_chart_div"></div>
	</div>
	<div class="container">
		<h3>Transaction history</h3>
		<table id="transactionTable" class="table table-bordered table-hover dt-responsive">
			<thead>
				<tr>
			  		<th>Date</th>
					<th>Type</th>
					<th>Stock Ticker</th>
				  	<th>Transaction Value</th>
				  	<th>Stock Price</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="transaction : ${transactions}">
					<td th:text="${transaction.date}" />
					<td th:text="${transaction.isBuy()} ? 'Buy' : 'Sell'" />
					<td th:text="${transaction.ticker}" />
					<td th:text="'$' + ${{transaction.value}}" />
					<td th:text="'$' + ${{transaction.stockPrice}}" />
					<td th:text="${transaction.amount}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
