<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Investment App</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		google.load('visualization', '1.0', {
	    	'packages' : [ 'corechart' ]
	  	});
  		google.setOnLoadCallback(drawPieChart);
		function drawPieChart() {
			var data = new google.visualization.DataTable();
			data.addColumn('string', 'Topping');
			data.addColumn('number', 'Slices');
			var sectors = [[${sectors}]];
			var weights = [[${weights}]];
			for (i = 0; i < sectors.length; i++) {
				var sector = sectors[i];
				var weight = weights[i];
				data.addRow([sector, weight]);
			}
			var options = {
				'title' : 'Portfolio Weighting by Sector',
				is3D : true,
				pieSliceText: 'label',
				tooltip :  {showColorCode: true},
				'width' : 1000,
				'height' : 300
			};
			var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
			chart.draw(data, options);
		}
	    /*]]>*/
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
		    <div class="navbar-header">
		    	<a class="navbar-brand" href="#">Investment App</a>
		    </div>
            <div class="nav navbar-left">
                <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
	            <li><a href="/stocks">Stocks</a></li>
				<li class="active"><a href="/portfolio">Portfolio</a></li>
				<li><a href="/portfolio/goals">Goals</a></li>
				<li><a href="/portfolio/metrics">Metrics</a></li>
				<li><a href="/tracker">Tracker</a></li>
				<li sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
				<li sec:authorize="isAnonymous()"><a href="/register">Register</a></li>
            	<li sec:authorize="isAnonymous()"><a href="/login">Login</a></li>
                </ul>
            </div>
            <div class="navbar-collapse navbar-right collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>
                        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                            <input hidden="true" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                    <li>
                        <a>
                            Welcome, <span sec:authentication="name"></span>
                        </a>
                    </li>
                </ul>
            </div>
	  	</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-6">
						<h3>
							My Portfolio
						</h3>
					</div>
				</div>
				<div class="row" style="font-size:18px">
					<div class="col-sm-6">
						Portfolio Value:
						<br />
						Cash Balance:
						<br />
						Annualised Perf:
					</div>
					<div class="col-sm-6">
						<span th:text="'$' + ${{user.portfolioValue()}}" />
						<br />
						<span th:text="${user.cashAmount} ? '$' + ${{user.cashAmount}} : '0'" />
						<br />
						<span th:text="${{user.annualisedPortfolioPerformance()}}" />
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div id="chart_div"></div>
			</div>
		</div>
		<h3>
			Portfolio Holdings
		</h3>
	    <div th:each="holdings : ${groupedPortfolio}">
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-4">
					<a th:href="@{/stocks/{id}/(id=${holdings[0].stock.id})}" th:text="${holdings[0].stock.name}" />
				</div>
				<div class="col-md-2">
					<span th:text="${holdings[0].stock.ticker}" />
				</div>
				<div class="col-md-4">
					<span th:text="${holdings[0].stock.sector}" />
				</div>
			</div>
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-2">
					Amount:
					<br />
					Gain:
				</div>
				<div class="col-md-2">
					<span th:text="${{portfolioService.getStockAmount(holdings)}}" />
					<br />
					<span th:text="${portfolioService.getGain(holdings)} >= 0 ? '$' + ${{portfolioService.getGain(holdings)}} : '-$' + ${{portfolioService.getDifference(holdings)}}" />
				</div>
				<div class="col-md-2">
					Annualised:
					<br />
					Value:
				</div>
				<div class="col-md-2">
					<span th:text="${{portfolioService.getAnnualisedReturn(holdings)}}" />
					<br />
					<span th:text="'$' + ${{portfolioService.getValue(holdings)}}" />
				</div>
			</div>
			<div th:each="holding : ${holdings}" class="row">

				<div class="col-md-2">
					Amount: <span th:text="${holding.amount}" />
				</div>
				<div class="col-md-2">
					Date bought: <span th:text="${{holding.buyDate}}" />
				</div>
				<div th:if="${holding.sellDate}" class="col-md-2">
					Date sold: <span th:text="${{holding.sellDate}}" />
				</div>
				<div class="col-md-3">
					Dividends per share: <span th:text="'$' + ${{holding.getDividendsTotal()}}" />
				</div>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="get" style="padding-top:0px; padding-bottom:0px">
					<button type="submit" class="btn btn-link glyphicon glyphicon-edit" style="padding-top:0px; padding-bottom:0px; border-top:0px; border-bottom:0px"/>
				</form>
				<!--form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form-->
			</div>
			<br />
		</div>
		<h3>
			Archived Portfolio Holdings
		</h3>
		<div th:each="holdings : ${groupedHistoricalPortfolio}">
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-4">
					<a th:href="@{/stocks/{id}/(id=${holdings[0].stock.id})}" th:text="${holdings[0].stock.name}" />
				</div>
				<div class="col-md-2">
					<span th:text="${holdings[0].stock.ticker}" />
				</div>
				<div class="col-md-4">
					<span th:text="${holdings[0].stock.sector}" />
				</div>
			</div>
			<div class="row" th:if="${holdings[0]}" style="font-size:18px">
				<div class="col-md-2">
					Amount:
					<br />
					Gain:
				</div>
				<div class="col-md-2">
					<span th:text="${{portfolioService.getStockAmount(holdings)}}" />
					<br />
					<span th:text="${portfolioService.getGain(holdings)} >= 0 ? '$' + ${{portfolioService.getGain(holdings)}} : '-$' + ${{portfolioService.getDifference(holdings)}}" />
				</div>
				<div class="col-md-2">
					Annualised:
					<br />
					Value:
				</div>
				<div class="col-md-2">
					<span th:text="${{portfolioService.getAnnualisedReturn(holdings)}}" />
					<br />
					<span th:text="'$' + ${{portfolioService.getValue(holdings)}}" />
				</div>
			</div>
			<div th:each="holding : ${holdings}" class="row">

				<div class="col-md-2">
					Amount: <span th:text="${holding.amount}" />
				</div>
				<div class="col-md-2">
					Date bought: <span th:text="${{holding.buyDate}}" />
				</div>
				<div th:if="${holding.sellDate}" class="col-md-2">
					Date sold: <span th:text="${{holding.sellDate}}" />
				</div>
				<div class="col-md-3">
					Dividends per share: <span th:text="'$' + ${{holding.getDividendsTotal()}}" />
				</div>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="get" style="padding-top:0px; padding-bottom:0px">
					<button type="submit" class="btn btn-link glyphicon glyphicon-edit" style="padding-top:0px; padding-bottom:0px; border-top:0px; border-bottom:0px"/>
				</form>
				<form class="form-noborder" th:action="@{/portfolio/{id}/(id=${holding.id})}"
				method="post">
					<input type="hidden" name="_method" value="delete" />
					<button type="submit" class="btn btn-link glyphicon glyphicon-remove" />
				</form>
			</div>
			<br />
		</div>
	</div>
</body>
</html>
